# Порт HTTP-сервера
PORT=3000
# Драйвер хранилища: postgres
DATABASE_DRIVER="postgres"
# Строка подключения к PostgreSQL (без логина и пароля)
DATABASE_URL="postgres://localhost:5432/prac"
# Логин пользователя БД
DATABASE_USERNAME="prac"
# Пароль пользователя БД
DATABASE_PASSWORD="prac"
# Формат логов: dev | json | tskv
LOGGER_TYPE="dev"
DEBUG=*
